
 div#contain {
    width: 100%;
    background: none;
    font-family:verdan;
    font-size:12px;
}
 ul#map {
    float: none;
    margin: 0 auto;
}
 ul {
    clear: left;
    margin: 2em 0 0 0;
    padding: 0;
    background: #fff;
}
 ul ul {
    border-top: 1px solid #000;
    width: auto;
}
 ul.solo {
    border-top: 0;
}
 li {
    float: left;
    list-style: none;
    position: relative;
}
 li li {
    margin: -1px 0 0 0;
}
 div {
    background: url(vLine.gif) 50% repeat-y;
    padding: 2em 5px 0 5px;
    margin: 0 .3em -2em .3em;
}
 div.section {
    padding: 2em 5px 2em 5px;
}
 div.first {
    background: url(first.gif) 50% repeat-y;
    margin-left: 0;
}
 div.last {
    background: url(last.gif) 50% repeat-y;
    margin-right: 0;
}
 div.root {
    padding-top: 0;
}
 a {
    display: block;
    background: #fff;
    border: 1px solid #000;
    padding: .25em .2em .2em .2em;
    color: #222;
    text-decoration: none;
    margin: 0 auto;
    width: 1.5em;
    line-height: 1.2em;
    text-align: center;
    font-size: 12px;
}
 a:hover {
    background: #ccc;
}
/*IE 6 (when comma-separated, IE6 didn't work, so these are duped for IE7)*/
*html  {text-align: center;}
*html  a {margin: 0; position: relative;}
/*IE 7*/
*:first-child+html  {text-align: center;}
*:first-child+html  a {margin: 0; position: relative;}