.title { font-size: 14px; line-height: 20px; color: #083772; margin-bottom: 15px; font-weight: normal; }
/*.product-name { font-size: 26px; line-height: 50px; color: #CCDDFF; padding-left: 25px; font-weight: bold; }*/
.product-name { font-size: 26px; line-height: 42px; color: #CCDDFF; padding-left: 25px; vertical-align: bottom; font-weight: bold; }

.intro-title {font-size:16px; font-family: tahoma,arial,helvetica,sans-serif; color:#006EC7; margin-bottom: 20px; font-weight: bold;}
.intro-text {font-size:14px; font-family: tahoma,arial,helvetica,sans-serif; color:#3764A0; margin-bottom: 15px; font-weight: normal;}

.x-form-text,textarea.x-form-field{background:#fff;border-color:#B5B8C8; }
.x-form-focus,textarea.x-form-focus{ background:#FFF6AA;background-color: #FFF6AA; border-color:#7eadd9; border:1px solid orange;}
.x-form-invalid,textarea.x-form-invalid{background:#fff ;border-color:#dd7870;}
.x-grid3-cell-selected{background:#FFF6AA;background-color:#FFF6AA!important;color:black;}


span.dcName { color:red;padding-right:4px; font-size:10px; }
span.uiName { color:red;padding-right:4px; font-size:10px; }

.gui_title {
  background-color:#dfe8f6;
  font-family: arial,sans-serif,tahoma,verdana,arial;
  font-size:16px;
  height:22px;
  padding-top:4px;
  font-weight:bold;
}
.field_important_1  {
  background-color: #CFF6BA!important;
  background: #CFF6BA!important;
  font-weight:bold;
}
.cellClsAlignTop {
  vertical-align:top;
  padding-right:10px;
}

/** btn */
.add,.x-btn .add {
  background: url('fam/add.gif');
}

.go,.x-btn .go {
  background: url('fam/application_go.png');
}

.delete,.x-btn .delete {
  background: url('fam/delete.gif');
}

.edit,.x-btn .edit {
  background: url('fam/cog_edit.png');
}

.refresh,.x-btn .refresh {
  background: url('fam/table_refresh.png');
}

.expand,.x-btn .expand {
  background: url('fam/folder_go.png');
}

.collapse,.x-btn .collapse {
  background: url('fam/folder_wrench.png');
}

.config,.x-btn .config {
  background: url('fam/plugin.gif');
}

.save,.x-btn .save {
  background: url('login/save.gif');
}

.cog,.x-btn .cog {
  background: url('fam/cog.png');
}

.student,.x-btn .student {
  background: url('fam/user.gif');
}

.wrench,.x-btn .wrench {
  background: url('fam/folder_wrench.png');
}

.user_delete,.x-btn .user_delete {
  background: url('fam/user_delete.png');
}

/** */
.user {
  background: url("fam/user.gif") no-repeat 1px 2px;
}

.key {
  background: url("login/key.gif") no-repeat 1px 2px;
}

.key,.user {
  background-color: #FFFFFF;
  padding-left: 20px;
  font-weight: bold;
  color: #000033;
}

.key.x-form-invalid,.user.x-form-invalid {
  border: 2px solid #dd7870;
}

/* load.. */
#app-loading {
  position: absolute;
  left: 40%;
  top: 40%;
  padding: 2px;
  z-index: 20001;
  height: auto;
}

#app-loading-msg {
  font: normal 10px arial, tahoma, sans-serif;
}

#app-loading-logo {
  background: white;
  color: #444;
  font: bold 13px tahoma, arial, helvetica;
  padding: 5px;
}

#app-loading-logo-text {
  background: white;
  color: #444;
  font: bold 13px tahoma, arial, helvetica;
  padding: 5px;
}

#app-loading .app-loading-indicator {
  text-align: center;
  background: white;
  height: auto;
}
