

.gui_title {
  background-color:#dfe8f6;
  font-family: arial,sans-serif,tahoma,verdana,arial;
  font-size:16px;
  height:22px;
  padding-top:4px;
  font-weight:bold;
  /*border-bottom:1px solid #99bbe8;
  margin-bottom:2px;*/
}

.cellClsAlignTop {
  vertical-align:top;
  padding-right:10px;
}



/*********************   GRID  *************************/

.x-grid3 {
    background-color:#fafafa;
}

.x-grid3-cell-selected{
	background-color: #FFF6AA!important ;

}
.x-grid3 .x-editor .x-form-text{position:relative;top:-1px;height:16px;}

/*********************   PANEL  *************************/



/*********************   TREE  *************************/



/*********************   FORM  *************************/
 .field_important_1  {
  background-color: #CFF6BA!important;
  background: #CFF6BA!important;
  font-weight:bold;
}


.x-form-text, textarea.x-form-field{

    height:18px;
    background:#fff;
    background-color:#fff ;
    border:1px solid #B5B8C8;
}


/* field focus style */
.x-form-focus, textarea.x-form-focus{
    background-color: #FFF6AA!important;
    background: #FFF6AA!important;
}


/*********************   UX Controls  ************************

/* [OPTIONAL] -- may be used for either Ext.grid.GroupSummary / Ext.ux.grid.GridSummary plugins */
.x-grid3-summary-row{border-left:1px solid #fff;border-right:1px solid #fff;color:#333;background:#f1f2f4;}
.x-grid3-summary-row .x-grid3-cell-inner{font-weight:bold;padding-bottom:4px;}
.x-grid3-cell-first .x-grid3-cell-inner{padding-left:16px;}
.x-grid-hide-summary .x-grid3-summary-row{display:none;}
.x-grid3-summary-msg{padding:4px 16px;font-weight:bold;}


/* [REQUIRED] (by Ext.ux.grid.GridSummary plugin) */
.x-grid3-gridsummary-row-inner{overflow:hidden;width:100%;}/* IE6 requires width:100% for hori. scroll to work */
.x-grid3-gridsummary-row-offset{width:10000px;}
.x-grid-hide-gridsummary .x-grid3-gridsummary-row-inner{display:none;}

